<style type="text/css">
.gridStyle {
border: 1px solid rgb(212,212,212);
width: 600px;
height: 300px;
}
</style>
<div style="margin:30px;" ng-controller="firstcontroller"  >
<div class="gridStyle" ng-grid="gridOptions">
</div>


</div>

